.posts-expand .post-tags {
  margin-top: 40px;
  text-align: center;

  a {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    background: #5555;
    padding: 1px 5px 1px 5px;
  }
}

.post-tags a {
	text-decoration: none;
}